@{
    ViewBag.Title = "Create an App For Testing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Body {
    <div class="container-fluid">
        <div class="jumbotron" style="margin-top:70px;">            
            <div class="row">
                <div class="col-lg-6">
                    <h3>Create an App For Testing</h3>
                    @Html.Action("RenderForm")
                </div>
                <div class="col-lg-6">
                    <h3>List Of Admins</h3>
                    @Html.Partial("_AdminList")
                </div>
            </div>
        </div>
        @Html.Partial("_AppList")
    </div>
}


