
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Body {
    <div class="container-fluid" style="margin-top:70px;">
        <div class="col-lg-12">
            <h2>Error</h2>
            <div class="alert alert-danger">
                <p><strong>Whoops...</strong></p>
                <p>There was an error</p>
            </div>
        </div>
    </div>
}