@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Body {
    <div class="container-fluid" style="margin-top:70px;">
        <div class="col-lg-12">
            <h2>Not Found</h2>
            <div class="alert alert-info">
                <p><strong>Whoops...</strong></p>
                <p>The resource doesn't exist</p>
            </div>
        </div>
    </div>
}